body {
  color: white;
}

.navbar-dark {
  background: linear-gradient(#444444, #292929);
  border-radius: 0 0 25px 25px;
  width: 7%;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  z-index: 9;
}

.hero-image {
  margin-top: -100px;
  margin-bottom: 10px;
  padding: 15% 0 12% 0;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    margin-left: -100px;
    font-family: "Bebas Neue", cursive;
    font-size: 100px;
    line-height: 0.9;
    margin-top: -50px;
    -webkit-animation: anim 1s forwards;
    animation: anim 1s forwards;
  }

  p {
    margin-left: -100px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    -webkit-animation: anim1 1s backwards;
    animation: anim1 1s backwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    padding-right: 190px;
  }

  .image {
    margin-left: 240px !important;
    margin-right: -120px;
    -webkit-animation: anim 1s forwards;
    animation: anim 1s forwards;
  }

  .btn {
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    border-radius: 14px;
    padding: 4px 4px 4px 4px;
    -webkit-animation: icon 1s backwards;
    animation: icon 1s backwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    margin-right: -7px;
    img {
      width: 37px;
      height: 37px;
    }
  }

  .btn:hover {
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    border-radius: 18px;
    -webkit-box-shadow: 11px 14px 22px -8px rgba(255, 255, 255, 0.32);
    box-shadow: 11px 14px 22px -8px rgba(255, 255, 255, 0.32);
  }
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: black;
  color: white;
  margin-top: -10px;
}

@-webkit-keyframes anim {
  from {
    opacity: 0%;
    -webkit-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity: 100;
    -webkit-transform: translatex(10);
    transform: translatex(10);
  }
}

@keyframes anim {
  from {
    opacity: 0%;
    -webkit-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity: 100;
    -webkit-transform: translatex(10);
    transform: translatex(10);
  }
}

@-webkit-keyframes anim1 {
  from {
    opacity: 0%;
    -webkit-transform: translatex(-90px);
    transform: translatex(-90px);
  }
  to {
    opacity: 100;
    -webkit-transform: translatex(10);
    transform: translatex(10);
  }
}

@keyframes anim1 {
  from {
    opacity: 0%;
    -webkit-transform: translatex(-90px);
    transform: translatex(-90px);
  }
  to {
    opacity: 100;
    -webkit-transform: translatex(10);
    transform: translatex(10);
  }
}

@-webkit-keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 500;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 100;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 500;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 100;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  body {
    color: white;
  }
  .navbar-dark {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#444444),
      to(#292929)
    );
    background: linear-gradient(#444444, #292929);
    border-radius: 0 0 25px 25px;
    width: 23%;
    margin: auto;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
  }
  .hero-image {
    margin-top: -100px;
    padding-bottom: 230px;
    background-image: url(../images/mobile-background.jpg);

    h1 {
      margin-left: 0;
      text-align: center;
      margin-top: 50%;
      font-size: 70px;
      -webkit-animation: anim 1s forwards;
      animation: anim 1s forwards;
    }

    p {
      margin-left: 0;

      margin-top: 40px;
      padding: 0 20px 0 20px;
      -webkit-animation: anim1 1s backwards;
      animation: anim1 1s backwards;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }

    .btn {
      margin-left: 0;

      margin-top: 25px;
      -webkit-animation: icon 1s backwards;
      animation: icon 1s backwards;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
    }
  }

  .footer {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: white;
  }
}

@keyframes anim {
  from {
    opacity: 0%;
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
  }
  to {
    opacity: 100;
    -webkit-transform: translateY(10);
    transform: translateY(10);
  }
}

@keyframes anim1 {
  from {
    opacity: 0%;
    -webkit-transform: translatey(-90px);
    transform: translatey(-90px);
  }
  to {
    opacity: 100;
    -webkit-transform: translateY(10);
    transform: translateY(10);
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 500;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 100;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */
